@mixin stylesForH($size) {
  color: var(--h-font-color);
  font-weight: 700;
  font-size: $size;
  line-height: 1.2;
}

@mixin fontFaceNunito($weight) {
  font-weight: $weight;
  font-family: Nunito, sans-serif;
  font-style: normal;
  src: url('@fonts/nunito-#{$weight}-normal.woff2') format('woff2');
  font-display: swap;
}
