@mixin list-group {
  li {
    display: flex;
    gap: 15px;
    padding: 15px;
    border-bottom: var(--border-width) solid var(--card-item-border-color);

    color: var(--card-item-color);

    &:last-child {
      border-bottom: none;
    }

    > span {
      min-width: 130px;

      &:first-child {
        font-weight: bold;
      }

      &:last-child {
        flex: 1;
      }
    }
  }
}
