@mixin list-group {
  width: fit-content;
  padding: var(--card-cap-padding);
  border-radius: var(--card-border-radius);

  background-color: var(--card-bg);

  li {
    display: flex;
    padding: 15px;
    border-bottom: var(--border-width) solid var(--card-item-border-color);

    color: var(--card-item-color);

    &:last-child {
      border-bottom: none;
    }
  }
}
