<List :data="data" title="User info" :needBackground="true">
  <CustomButton variant="primary" @click="openInfoModal()" class="button">Edit</CustomButton>
  <CustomButton variant="primary" @click="openAvatarModal()" class="button">Change avatar</CustomButton>
</List>
<Modal
  v-if="showModal === 'info'"
  @close="closeModal()"
  title="Edit information"
  formName="edit-info-form"
  :disabled="updateLoading"
>
  <form class="edit-info-form" @submit.prevent="onSubmit" novalidate id="edit-info-form">
    <FormInput
      :errorMessage="v$.username.$errors[0]?.$message"
      placeholder="Username"
      v-model="formData.username"
      class="input"
      autocomplete="off"
      :disabled="updateLoading"
    />
    <FormInput
      :errorMessage="v$.email.$errors[0]?.$message"
      placeholder="Email"
      v-model="formData.email"
      class="input"
      autocomplete="off"
      :disabled="updateLoading"
    />
    <FormPassword
      :errorMessage="v$.password.$errors[0]?.$message"
      placeholder="Password"
      v-model="formData.password"
      class="input"
      autocomplete="new-password"
      :disabled="updateLoading"
    />
  </form>
</Modal>
<Modal
  v-if="showModal === 'avatar'"
  @close="closeModal()"
  @ok="changeAvatar()"
  title="Change avatar"
  :disabled="changeAvatarLoading"
>
  <div class="modal-avatar-wrapper" :class="{'show-upload-file': !changeAvatarLoading}">
    <div class="file-input-wrapper" :class="{ 'full-opacity': !avatar.url }">
      <SvgIcon
        v-if="avatar.url && !changeAvatarLoading"
        icon="close"
        class="close-icon"
        @click="removeAvatar()"
      ></SvgIcon>
      <input v-if="!changeAvatarLoading" type="file" @change="onFileChange" :accept="supportedImageTypesString" />
      <SvgIcon icon="upload" class="upload-icon"></SvgIcon>
    </div>
    <img v-if="avatar.url" :src="avatar.url" alt="avatar" />
  </div>
</Modal>
