.keys-list {
  width: 400px;

  li {
    border-bottom: 1px solid #00000066;

    &:last-child {
      border-bottom: none;
    }
  }
}

.title,
.value {
  padding: 10px 15px;
}

.title {
  display: inline-block;
  width: 25%;
  padding: 10px 15px;
}

.value {
  color: #d63394;
}

.edit-button {
  margin-top: 15px;
  padding: 10px 60px;
  border: 1px solid #695cfe;
  border-radius: 6px;

  color: #ffffff;

  background-color: #695cfe;
  cursor: pointer;

  &:disabled {
    color: #695cfe;

    background-color: transparent;
    cursor: default;
  }
}

.edit-info-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.input-wrapper {
  position: relative;
}

input {
  width: -webkit-fill-available;
  padding: 10px 15px;
  border: 1px solid #d63384;
  border-radius: 8px;

  font-size: 20px;

  outline: none;
}

.error {
  position: absolute;
  bottom: -16px;
  left: 0;

  color: #ed1d1d;
  font-size: 15px;
  white-space: nowrap;
}
