<ul class="info-list">
  <h4 class="info-title">User info</h4>
  <li v-for="{title, key} in list">
    <span class="text">{{ title }}</span>
    <span class="value">{{ user?.[key] ?? '-' }}</span>
  </li>
  <CustomButton
    text="Edit"
    variant="primary"
    :disabled="infoLoading"
    @click="setShowModal(true)"
    class="button"
  ></CustomButton>
</ul>
<Modal
  v-if="showModal"
  @close="setShowModal(false)"
  title="Edit information"
  formName="edit-info-form"
  :disabled="updateLoading"
>
  <form class="edit-info-form" @submit.prevent="onSubmit" novalidate id="edit-info-form">
    <FormInput
      :errorMessage="v$.username.$errors[0]?.$message"
      placeholder="Username"
      type="text"
      v-model="formData.username"
      class="input"
      autocomplete="off"
      :disabled="updateLoading"
    />
    <FormInput
      :errorMessage="v$.email.$errors[0]?.$message"
      placeholder="Email"
      type="text"
      v-model="formData.email"
      class="input"
      autocomplete="off"
      :disabled="updateLoading"
    />
    <FormInput
      :errorMessage="v$.password.$errors[0]?.$message"
      placeholder="Password"
      type="password"
      v-model="formData.password"
      class="input"
      autocomplete="new-password"
      :disabled="updateLoading"
    />
  </form>
</Modal>
