<ul class="keys-list">
  <li v-for="{title, key} in list">
    <span class="title">{{ title }}</span>
    <span class="value">{{ user?.[key] ?? '-' }}</span>
  </li>
</ul>
<button class="edit-button" :disabled="loading" v-on:click="setShowModal(true)">Edit</button>
<Modal v-if="showModal" :onClose="() => setShowModal(false)" title="Edit information" formName="edit-info-form">
  <form class="edit-info-form" @submit.prevent="onSubmit" novalidate id="edit-info-form">
    <p class="input-wrapper">
      <input type="text" placeholder="Username" v-model="formData.username" autocomplete="off" />
      <span v-if="v$.username.$error" class="error">{{ v$.username.$errors[0].$message }}</span>
    </p>
    <p class="input-wrapper">
      <input type="text" placeholder="Email" v-model="formData.email" autocomplete="off" />
      <span v-if="v$.email.$error" class="error">{{ v$.email.$errors[0].$message }}</span>
    </p>
    <p class="input-wrapper">
      <input type="password" placeholder="Password" v-model="formData.password" autocomplete="new-password" />
      <span v-if="v$.password.$error" class="error">{{ v$.password.$errors[0].$message }}</span>
    </p>
  </form>
</Modal>
