.info-list {

  @include list-group;
}

.info-title {

  @include list-title;
}

.text {
  min-width: 100px;

  font-weight: bold;
}

.value {
  flex: 1;

  white-space: nowrap;
}

.button {
  margin-top: 25px;
}

.input:not(:last-child) {
  margin-bottom: 25px;
}
