.radio {
  display: inline-flex;
  align-items: center;

  color: #607080;
  font-size: 1em;

  line-height: 1.5em;

  cursor: pointer;

  &.disabled {
    cursor: default;
    opacity: 0.5;
  }
}

.radio-input {
  position: relative;

  width: 1.2em;
  height: 1.2em;
  margin: 0 8px 0 0;
  border: 3px solid #e1e3ea;
  border-radius: 50%;

  background-color: #ffffff;
  cursor: pointer;

  appearance: none;

  &:checked {
    border-color: #435ebe;

    background-color: #435ebe;

    &:after {
      position: absolute;
      top: 2px;
      left: 2px;

      width: 6px;
      height: 6px;
      border-radius: 50%;

      background: #ffffff;

      content: '';
    }
  }

  &:active {
    filter: brightness(90%);
  }

  &:focus {
    border-color: #a1afdf;
  }

  &:disabled {
    opacity: 0.5;
    filter: none;

    pointer-events: none;
  }

  &:focus:checked {
    border-color: #435ebe;
  }
}
