.keys-list {
  width: fit-content;
  padding: var(--card-cap-padding);
  border-radius: var(--card-border-radius);

  background-color: var(--card-bg);

  @include list-group;
}

.regenerate-title {
  margin-bottom: 25px;
}

.action {
  margin-left: auto;
}
