.list {
  width: fit-content;

  &.background {
    padding: var(--card-cap-padding);
    border-radius: var(--card-border-radius);

    background-color: var(--card-bg);
  }

  @include list-group;
}
