.tabs {
  position: relative;

  width: 100%;
  height: 100%;
}

.tab {
  width: 175px;
  padding: 0 10px;
  overflow: hidden;

  background-color: #ffffff;

  &:first-child {
    padding-top: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  &:last-child {
    padding-bottom: 10px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
}

.tab-switch {
  display: none;
}

.tab-label {
  display: block;
  padding: 8px 16px;
  border-radius: 3px;

  color: #435ebe;

  font-size: 1rem;
  text-decoration: none;

  cursor: pointer;

  &:hover {
    color: #364b98;
  }
}

.tab-switch:checked + .tab-label {
  color: #ffffff;

  background-color: #435ebe;

  box-shadow: 0 2px 10px #435ebe80;
}

.tab-content {
  position: absolute;
  inset: 0 0 0 210px;

  display: none;
}

.tab-switch:checked + label + .tab-content {
  display: block;
}
