button {
  padding: var(--btn-padding-y) var(--btn-padding-x);
  border-radius: var(--btn-border-radius);

  font-size: var(--btn-font-size);
  line-height: var(--btn-line-height);

  cursor: pointer;

  &:disabled {
    background-color: transparent;
    cursor: var(--btn-disabled-cursor);
  }
}

.info {
  border: var(--border-width) solid var(--btn-info-border-color);

  color: var(--btn-info-color);

  background-color: var(--btn-info-bg);

  &:disabled {
    border-color: var(--btn-info-disabled-border-color);

    color: var(--btn-info-disabled-color);
  }

  &:active:not(:disabled) {
    border-color: var(--btn-info-active-border-color);

    background-color: var(--btn-info-active-bg);
  }
}

.primary {
  border: var(--border-width) solid var(--btn-primary-border-color);

  color: var(--btn-primary-color);

  background-color: var(--btn-primary-bg);

  &:disabled {
    border-color: var(--btn-primary-disabled-border-color);

    color: var(--btn-primary-disabled-color);
  }

  &:active:not(:disabled) {
    border-color: var(--btn-primary-active-border-color);

    background-color: var(--btn-primary-active-bg);
  }
}

.secondary {
  border: var(--border-width) solid var(--btn-secondary-border-color);

  color: var(--btn-secondary-color);

  background-color: var(--btn-secondary-bg);

  &:disabled {
    border-color: var(--btn-secondary-disabled-border-color);

    color: var(--btn-secondary-disabled-color);
  }

  &:active:not(:disabled) {
    border-color: var(--btn-secondary-active-border-color);

    background-color: var(--btn-secondary-active-bg);
  }
}

.light {
  padding: 0;
  border: none;

  color: var(--btn-light-color);
  font-weight: bold;

  background-color: var(--btn-light-bg);

  &:disabled {
    opacity: 0.5;
  }
}
