<label :class="{error: errorMessage}">
  <span v-if="showLabel" class="label"
    >{{ placeholder }}
    <span v-if="required" class="asterisk">*</span>
  </span>
  <span class="input-container">
    <input
      :class="{'with-label': showLabel}"
      :type="type"
      :placeholder="placeholder"
      :value="modelValue"
      @input="$emit('update:modelValue', $event.target.value)"
      :autocomplete="autocomplete"
      :disabled="disabled"
    />
    <SvgIcon v-if="type === 'text'" icon="showPassword" @click="type = 'password'" class="password-icon"></SvgIcon>
    <SvgIcon v-else icon="hidePassword" @click="type = 'text'" class="password-icon"></SvgIcon>
    <span v-if="errorMessage" class="error-message">{{ errorMessage }}</span>
  </span>
</label>
