body {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;

  background-color: #e4e9f7;
}

main:before {
  position: absolute;
  z-index: -1;

  background-color: #00000066;

  opacity: 0;

  transition: all 0.4s ease;

  content: '';
  inset: 0;
}

aside:hover + main:before {
  z-index: 8;

  opacity: 1;
  backdrop-filter: blur(2px);
}
