header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-left: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);

  background-color: #fafafa;
}

header,
footer {
  height: 50px;
  padding: 10px 15px;
}

.username {
  color: #d63384;
  font-weight: bold;

  font-size: 18px;
  line-height: 30px;
  letter-spacing: 1px;
}

main {
  display: flex;
  flex: 1;
}

.main-content {
  position: relative;

  display: flex;

  flex: 1;
  padding: 15px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: auto;
  border-top: 1px solid rgba(0, 0, 0, 0.4);

  background-color: #fafafa;
}
