<MainLoader v-if="initialization"></MainLoader>
<template v-else>
  <template v-if="isAuth && notLoginPage">
    <LeftMenu></LeftMenu>
    <article class="container">
      <header>
        <span v-if="version" class="version">v {{ version }}</span>
        <Separator class="separator"></Separator>
        <span class="username">{{user?.username}}</span>
        <SvgIcon icon="defaultAdmin" class="icon"></SvgIcon>
      </header>
      <main>
        <router-view></router-view>
      </main>
    </article>
  </template>
  <router-view v-else></router-view>
</template>
<Notifications></Notifications>
