.error {
  margin: 0 auto;
}

.error-icon {
  display: block;
  width: 184px;
  height: 100px;
  margin: 0 auto;
}

.error-message {
  margin-top: 10px;

  color: var(--h-font-color);

  text-align: center;
}
