<section>
  <div v-if="loading" class="spinner-wrapper"></div>
  <h3 v-if="title" class="title">{{ title }}</h3>
  <slot></slot>
  <table>
    <thead>
      <tr>
        <th v-for="{ title, needSort, key, thStyle } in columns" :style="thStyle">
          <span v-if="needSort" :class="['sorter', key === sorter?.key && sorter.sortOrder]" @click="changeSorter(key)"
            >{{ title }}</span
          >
          <template v-else>{{ title }}</template>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="row in dataSource">
        <td v-for="{ dataIndex, customRender, tdStyle } in columns" :style="tdStyle">
          <component v-if="customRender" :is="customRender(row[dataIndex], row)" />
          <template v-else>{{ row[dataIndex] }}</template>
        </td>
      </tr>
    </tbody>
  </table>
  <TablePagination v-if="pagination" :pagination="pagination" @paginationChange="changePagination"></TablePagination>
</section>
