section {
  position: relative;
}

.spinner-wrapper {
  position: absolute;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--table-spinner-color);

  backdrop-filter: blur($blur-background);

  pointer-events: auto;
  inset: 0;

  &:after {
    width: var(--table-spinner-width);
    height: var(--table-spinner-width);
    border: var(--table-spinner-border-width) solid currentcolor;
    border-right-color: transparent;
    border-radius: 50%;

    animation: var(--table-spinner-animation-speed) linear infinite table-spinner;

    content: '';
  }
}

.title {
  margin-bottom: 25px;
}

table {
  background-color: var(--table-bg);
}

thead tr {
  border-bottom: var(--table-border-width) solid var(--table-thead-border-color);
}

tbody tr:not(.empty) {
  border-bottom: var(--table-border-width) solid var(--table-tbody-border-color);

  &:nth-child(odd) {
    background-color: var(--table-tr-striped-bg);
  }
}

th,
td {
  padding: 15px 20px;

  text-align: start;
}

th {
  position: relative;

  color: var(--table-cell-color);
  font-weight: 700;
  white-space: nowrap;

  &:not(:last-child):after {
    position: absolute;
    top: 10px;
    right: 0;

    width: 1px;
    height: 27px;

    background-color: #eeeeee;

    content: '';
  }
}

td {
  color: var(--table-cell-color);
  font-weight: 400;
}

.sorter {
  padding-right: 25px;

  cursor: pointer;

  span {
    position: absolute;
    right: 10px;

    display: inline-flex;

    font-family: BlinkMacSystemFont, sans-serif;
    letter-spacing: -6px;

    &.ascend:after,
    &.descend:before {
      opacity: 1;
    }

    &:before,
    &:after {
      opacity: 0.3;
    }

    &:before {
      content: '↑';
    }

    &:after {
      content: '↓';
    }
  }
}

.empty td {
  text-align: center;

  .empty-icon {
    width: 184px;
    height: 100px;
  }
}

@keyframes table-spinner {
  to {
    transform: rotate(360deg);
  }
}
