.login-form {
  width: 500px;
  margin: auto;
  padding: 30px;
  border-radius: 20px;

  background-color: #ffffff;
}

h2 {
  margin-bottom: 25px;

  text-align: center;
}

.input:not(:last-child) {
  margin-bottom: 25px;
}

.button {
  display: block;
  width: 33%;
  margin: 0 auto;
}
