<form class="login-form" @submit.prevent="onSubmit" novalidate>
  <h2>Login</h2>
  <FormInput
    :errorMessage="v$.username.$errors[0]?.$message"
    placeholder="Username"
    v-model="formData.username"
    class="input"
    :disabled="loading"
    required
  />
  <FormPassword
    :errorMessage="v$.password.$errors[0]?.$message"
    placeholder="Password"
    v-model="formData.password"
    class="input"
    :disabled="loading"
    required
  />
  <CustomButton variant="info" class="button" :disabled="loading">Submit</CustomButton>
</form>
