.select-wrapper {
  display: flex;
  gap: 15px;
  align-items: center;
}

select {
  display: block;
  flex: 1;
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #dce7f1;
  border-radius: 0.25rem;

  color: #607080;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;

  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;

  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  appearance: none;

  &:disabled {
    color: #6c757d;

    background-color: #e9ecef;
  }
}

.label {
  width: 100px;

  color: #607080;

  font-weight: 600;
}
