.table-wrapper {
  height: fit-content;
  padding: var(--card-cap-padding);
  border-radius: var(--card-border-radius);

  background-color: var(--card-bg);
}

.users-table-actions {
  display: flex;

  svg {
    width: 10px;
  }
}
